//Abstracts
@import "./abstracts/abstracts";

//Base Styles
// @import "base/";

//Components
@import "components/components";

//Layout
// @import "layouts/";


:root {
  font-size: $font-size;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: $darkCyan;
  font-family: $font-family;
  line-height: 10px;
  letter-spacing: 1px;
}

a {
  text-decoration: none;
}

@media (min-width: $smallTablet) {
  
}
