// Fonts type
$font-family: 'Kumbh Sans', sans-serif;
$font-size: 18px;

// Breakpoints
$mobile: 240px;
$smallTablet: 540px;
$desktop: 1440px;


// Colors
$darkCyan: hsl(185, 75%, 39%);
$darkBlue: hsl(229, 23%, 23%);
$grayBlue: hsl(227, 10%, 46%);
$darkGray: hsl(0, 0%, 59%);
$white: #f2f2f2;
$black: #000;
